*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
h1{
    color: blanchedalmond;
    border-bottom: solid 3px rgb(44, 158, 161);
    border-radius: 10px;

 }

button{
    height: 40px;
    width: 100px;
    margin-right: 30px;
    border: solid 3px rgb(212, 171, 178) ;
    padding: 5px;
    border-radius: 15px;
    transition: 0.5s;
}

button:hover{
    transform: scale(1.2);
}
.nave{
    top: 0;
    background-image: linear-gradient(to right,rgb(49, 201, 206),pink);
    width: 100vw;
    height: 32px;
    padding: 20px ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    
}
.nave ul li{
    list-style-type: none;
    display: inline-block;
    position: relative;
    height: 70px;
    width: 70px;

}
.nave ul li a{
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    font-weight: 500;
}
.nave ul li a .icon{
    position: relative;
    display: block;
    transition: 0.5s;
    font-size: 25px;
    color: white;

}
.nave ul li a .text{
    position: absolute;
   
    transition: 0.5s;
    font-size: 18px;
    color: white;
    letter-spacing: 0.05em;
    font-weight: 400;
    opacity: 0;

}
.nave ul li:hover a .icon{
    transform: translatey(25px);

}
.nave ul li:hover a .text{
   
    opacity: 1;
    
}
.body2 h2{
    margin-top: 80px;
    padding: 10px;
}
.body2 p{
    text-indent: 70px;
    text-align: justify;
    padding: 20px 0 0 20px;
}
.body2 h3{
    padding: 20px;
    font-weight: 900;
}








h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    display: inline-block;
    color: #ffffff;
}
P{


margin: 20px;
text-align: justify;
text-indent: 70px;
}

.body1 img{
    
    float: left;
    margin: 0px 20px 20px 0px ;
    background-attachment: fixed;
}
.body2 img{
   
    float: right;
    margin: 0px 20px 20px 20px ;
    background-attachment: fixed;
}
.body3 img{
    
    float: left;
    margin: 0px 20px 20px 0px ;
    background-attachment: fixed;
}
.body4 img{
    
    margin: 0px 20px 20px 20px;
    float: right;
    background-attachment: fixed;
}
.body1{
    
    display:flow-root;
}
.body2{
    
    display:flow-root;
}
.body3{
    
    display:flow-root;
}
.body4{
    
    display:flow-root;
}

img{
    border: 5px solid rgb(97, 94, 94);
    
    border-radius: 0px 20px 0px 20px;
    box-shadow: 20px 20px 10px 0px gray ;
    transition: 0.5s;
}

img:hover{
    transform: scale(1.1);
}
#head{
    text-align: center;
    background-color: #2c3e50;
    background-size: cover;
}
#tail{
    
    background-color: #d4f57a;
    text-align: center;
    background-size: cover;
    position:filed;
}
#mainbody{
    margin-top: 70px;
    padding: 3px;
}
hr{
    border: dotted gray;
    font-size: 7px;
    margin: 80px;
}